*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header{
    width: 100%;
    height: 70px;
    padding: 5px 20px;
    background-color: #2e3a46;
}
header img{
    max-height: 100%;
}
main{
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: #1e2d3b;
    padding: 30px 0;
}
.container-wrapped{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    
}
#disc_section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 200px;
    min-height: 300px;
    background:  #2e3a46;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.card img{
    min-height: 150px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}
.card .title {
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 0.95em;
    min-height: 2.5em;
}
.card p{
    color:gray;
    margin-bottom: 5px;
}

.card .year{
    font-size: 0.8em;
    font-weight: 300;
}
